html,
body {
	@media screen and (max-width: 800px) {
		font-size: initial;
	}
}

main {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;

	.timeline {
		max-width: calc(var(--container) + 4rem);
		padding-right: 2rem;
	}
}

section {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--background);
	z-index: 1;
	width: 100%;
}

.About {
	background: var(--background);
	z-index: 1;
}
