.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 2;
	backdrop-filter: blur(10px);
	background: rgba(var(--background-rgb), 0.871);
	padding: 0 2rem;

	.wrapper {
		display: flex;
		max-width: var(--container);
		height: 4rem;
		flex: 1;
		align-items: center;
		justify-content: space-between;

		font-weight: 600;
		font-size: 1.3rem;
	}
}
